In [1]:
from read_data import data_to_dataframe
from cleaning import clean_all
import pandas as pd

In [2]:
df = data_to_dataframe()

Process finished

In [3]:
df = clean_all(df)

In [4]:
pd.set_option('display.max_colwidth', None)

In [5]:
df.head(3)

,sophoraId,externalId,title,date,tags,topline,firstSentence,geotags,regionId,regionIds,type,breakingNews,alttext,copyright,ressort
0,ndr-36-jaehriger-schwimmer-tot-aus-kiessee-bei-friedland-geborgen-100,tagesschau_fm-story-id-4ed766b3-779f-44f7-9faa-682febcbe59e,36-jähriger Schwimmer tot aus Kiessee bei Friedland geborgen,2023-10-22 19:52:00+02:00,[Niedersachsen],Niedersachsen,"Taucher fanden den Mann rund eine Stunde, nachdem er um Hilfe gerufen hatte.",[],9.0,[9],story,False,NaN,NaN,NaN
1,wettervorhersage-europa-100,a13811c2-a633-446d-8c44-f854dbdb9233,Wetterlage und Temperaturen,2023-10-22 19:46:52.550000+02:00,[Wetter],Wettervorhersage Europa,,[],0.0,[],story,False,NaN,NaN,NaN
2,hr-buergermeisterwahlen-ein-amtsinhaber-muss-gehen-spd-erobert-drei-rathaeuser-100,tagesschau_fm-story-id-902744f0-b542-4f4c-8098-d54a0f817ea8,"Bürgermeisterwahlen: Ein Amtsinhaber muss gehen, SPD erobert drei Rathäuser",2023-10-22 19:44:54.726000+02:00,[Hessen],Hessen,In vier hessischen Kommunen fanden am Sonntag Bürgermeisterwahlen statt.,[],7.0,[7],story,False,NaN,NaN,NaN