# Cleaning and Filtering of data

#### Subject: Cleaning Tags response

##### This is how to <u>*not*</u> approach it:

In [122]:
# Our Tags ar a list of dictionarys with the following structure:
#    [{Tag : 'Tag1'}, {Tag : 'Tag2'}]
# We could try replacing all dictionary things so we end up having a list like this:
#    [Tag1,Tag2]
# Therefore we should try to automatically remove the following two strings from the tag row
#    "{'tag':" and "}"
# After that one could go through each collumn and add the tags to a list

##### How it is done :

In [1]:
#Way 1:
def list_tags(line):
    tmp = []

    for x in line:
        tmp.append(x['tag'])
    
    return tmp

In [124]:
#Or Way 2:
def list_tags2(line):
    return [x['tag'] for x in line]

##### Garbage Collector

In [53]:
import pandas as pd
import cleaning
import plot

In [54]:
df = pd.DataFrame
%time
df = cleaning.load_and_list_jsons(df)
df = cleaning.clean_dataframe(df)

CPU times: user 3 µs, sys: 1 µs, total: 4 µs
Wall time: 7.15 µs
./News_2023-10-18_08-40-10.json
./News_2023-10-18_16-16-35.json
./News_2023-10-19_08-07-50.json
./News_2023-10-18_13-43-53.json
./News_2023-10-19_11-52-17.json

In [69]:
[x*2 for x in [1,2,3]]

[2, 4, 6]

In [121]:
tmp = [{'tag': 'Israel'}, {'tag': 'Liveblog'}]
# ['Israel', 'Liveblog']

[x['tag'] for x in tmp]

['Israel', 'Liveblog']

In [76]:
def list_tags(zeile):
    tmp = []

    for x in zeile:
        tmp.append(x['tag'])
    
    return tmp
    # or just return [x['tag'] for x in zeile]

In [114]:
for a in [1, 2, 3]:
    for b in [2, 3]:
        print(a*b)

2
3
4
6
6
9

In [ ]:
for(int x=0; x<10; x++){
    
}

for x in range(0, 10, 1):

In [119]:
list(range(0, 10, 1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [96]:
for zeile in df.tags:
    break
    for dic in zeile:
        print(dic['tag'])

zeile

[{'tag': 'Israel'}, {'tag': 'Liveblog'}]

In [57]:
#tmp = df['tags'].str.replace("{'tag:'","a")
#tmp

In [120]:
#df['sophoraId','date']